# Ignore Python environment files
/envs/
/venv/
*.pyc

# Ignore large model files and logs
# We will manually add only the small final best.pt


# Ignore training runs and large data directories
/data/



# Ignore temporary files
__pycache__/